package templates

templ header(title string) {
    <head>
        <title>{ title }</title>
        <meta charset="UTF-8" />
    </head>
}

templ navbar() {
    <nav>
        <a>Home</a>
        <a>About</a>
        <a>Login</a>
    </nav>
}

templ footer() {
    <footer> This is a footer </footer>
}

templ Layout(contents templ.Component, title string) {
    @header(title)
    <body>
        @navbar()
        <main>
            @contents
        </main>
    </body>
    @footer()
}